In [1]:
import requests
import csv
from bs4 import BeautifulSoup as bs
from random import randint
from time import sleep
from urllib.parse import urljoin
import os
import snowflake.connector
from datetime import datetime
import uuid
import re
import pandas as pd
import time
from word2number import w2n  # Library to convert numbers to words

In [2]:
URL = 'https://www.espncricinfo.com/records/trophy/indian-premier-league-117'
sleep_delay = 5
#https://rforotb-ka22072.snowflakecomputing.com
# Snowflake connection parameters
snowflake_account = 'rforotb-ka22072'
snowflake_warehouse= 'COMPUTE_WH'
snowflake_database = 'MYCRICKET'
snowflake_schema = 'DATA1'
snowflake_user = 'comicsvibe'
snowflake_password = 'Comicsvibe123!'
snowflake_stage = 'MYSTAGE1'

# Establish Snowflake connection
conn = snowflake.connector.connect(
    account=snowflake_account,
    warehouse=snowflake_warehouse,
    database=snowflake_database,
    schema=snowflake_schema,
    user=snowflake_user,
    password=snowflake_password,
    stage=snowflake_stage
)

In [3]:
cursor = conn.cursor()

# Function to create a table in Snowflake based on the CSV file
def create_table_from_csv(conn, csv_file):
    table_name = csv_file.split("/")[-1].split(".")[0]
    print(table_name)

    # Manually set data types for LAST_UPDATE and all other columns as 'object'
    data_types = {'LAST_UPDATE': 'object'}
    df = pd.read_csv(csv_file, nrows=1, dtype=data_types)

    # Map data types based on column values
    data_types = {
        'int64': 'NUMBER',
        'float64': 'NUMBER',
        'object': 'VARCHAR(255)',
    }

    create_table_sql = f"CREATE OR REPLACE TABLE {snowflake_database}.{snowflake_schema}.{table_name} ("

    column_counts = {}  # Dictionary to store column name occurrences

    for col_name, col_type in zip(df.columns, df.dtypes):
        if col_name == 'LAST_UPDATE':
            data_type = 'TIMESTAMP_NTZ(9)'  # For 'LAST_UPDATE' column
        else:
            # Check if the column contains only NULL values
            if df[col_name].isnull().all():
                data_type = 'NUMBER'  # Treat NULL columns as 'NUMBER' data type
            else:
                data_type = data_types.get(str(col_type), 'VARCHAR')  # Default to VARCHAR if type not found

        # Handle 'Null' values in column names
        #col_name = col_name.replace('Null', '_null_')
        
        # Replace spaces in column names with underscores
        col_name = col_name.replace(' ', '_')
        
        # Handle column names starting with a number by adding 'S_' in front
        if col_name[0].isdigit():
            col_name = 'S_' + col_name
        
        # Handle duplicate column names by appending "_1", "_2", etc.
        if col_name in column_counts:
            column_counts[col_name] += 1
            col_name = f"{col_name}_{column_counts[col_name]}"
        else:
            column_counts[col_name] = 1

        create_table_sql += f"{col_name} {data_type}, "

    create_table_sql = create_table_sql.rstrip(', ') + ")"
    print(create_table_sql)

    try:
        cursor = conn.cursor()
        cursor.execute(create_table_sql)
        print(f"Table '{table_name}' created successfully.")
    except snowflake.connector.errors.ProgrammingError as e:
        print(f"Error creating table '{table_name}': {e}")
    finally:
        cursor.close()

# Use the Snowflake Python Connector to query the stage and get the list of files
sql = f"LIST @{snowflake_stage}"
cursor.execute(sql)
csv_files = [row[0] for row in cursor.fetchall()]
print(csv_files)

# Create tables based on CSV files with a 5-second delay between each table creation
for csv_file in csv_files:
    csv_file_name = csv_file.split("/")[-2]
    create_table_from_csv(conn, csv_file_name)
    time.sleep(5)  # Add a 5-second delay between table creations

# Close Snowflake connection
conn.close()

['mystage3/abandoned_matches_283285.csv/abandoned_matches_283285.csv.gz', 'mystage3/best_career_bowling_average_283258.csv/best_career_bowling_average_283258.csv.gz', 'mystage3/best_career_bowling_average_without_qualification_283899.csv/best_career_bowling_average_without_qualification_283899.csv.gz', 'mystage3/best_career_economy_rate_283267.csv/best_career_economy_rate_283267.csv.gz', 'mystage3/best_career_strike_rate_283276.csv/best_career_strike_rate_283276.csv.gz', 'mystage3/best_economy_rate_in_an_innings_283890.csv/best_economy_rate_in_an_innings_283890.csv.gz', 'mystage3/best_figures_in_a_innings_by_a_captain_283935.csv/best_figures_in_a_innings_by_a_captain_283935.csv.gz', 'mystage3/best_figures_in_a_innings_on_debut_283833.csv/best_figures_in_a_innings_on_debut_283833.csv.gz', 'mystage3/best_figures_in_a_innings_when_on_the_losing_side_283926.csv/best_figures_in_a_innings_when_on_the_losing_side_283926.csv.gz', 'mystage3/best_figures_in_an_innings_283973.csv/best_figures_in_an_innings_283973.csv.gz', 'mystage3/best_strike_rate_in_an_innings_283886.csv/best_strike_rate_in_an_innings_283886.csv.gz', 'mystage3/bowler_batters_combinations_283734.csv/bowler_batters_combinations_283734.csv.gz', 'mystage3/bowler_fielder_combinations_283728.csv/bowler_fielder_combinations_283728.csv.gz', 'mystage3/captains_who_have_kept_wicket_283402.csv/captains_who_have_kept_wicket_283402.csv.gz', 'mystage3/captains_who_have_kept_wicket_and_opened_the_batting_283396.csv/captains_who_have_kept_wicket_and_opened_the_batting_283396.csv.gz', 'mystage3/carrying_bat_through_a_completed_innings_284000.csv/carrying_bat_through_a_completed_innings_284000.csv.gz', 'mystage3/dismissed_by_the_first_ball_of_a_match_283991.csv/dismissed_by_the_first_ball_of_a_match_283991.csv.gz', 'mystage3/dismissed_for_99_569883.csv/dismissed_for_99_569883.csv.gz', 'mystage3/extras_being_highest_scorer_in_a_completed_innings_282984.csv/extras_being_highest_scorer_in_a_completed_innings_282984.csv.gz', 'mystage3/fastest_fifties_284094.csv/fastest_fifties_284094.csv.gz', 'mystage3/fastest_hundreds_386083.csv/fastest_hundreds_386083.csv.gz', 'mystage3/fastest_to_1000_runs_925247.csv/fastest_to_1000_runs_925247.csv.gz', 'mystage3/fastest_to_100_wickets_1286053.csv/fastest_to_100_wickets_1286053.csv.gz', 'mystage3/fastest_to_2000_runs_1213211.csv/fastest_to_2000_runs_1213211.csv.gz', 'mystage3/fastest_to_2500_runs_1288793.csv/fastest_to_2500_runs_1288793.csv.gz', 'mystage3/fastest_to_3000_runs_1335852.csv/fastest_to_3000_runs_1335852.csv.gz', 'mystage3/fastest_to_3500_runs_1335854.csv/fastest_to_3500_runs_1335854.csv.gz', 'mystage3/fastest_to_50_wickets_926347.csv/fastest_to_50_wickets_926347.csv.gz', 'mystage3/feedback.html.csv/feedback.html.csv.gz', 'mystage3/fewest_ducks_in_career_284064.csv/fewest_ducks_in_career_284064.csv.gz', 'mystage3/fifties_in_consecutive_innings_284104.csv/fifties_in_consecutive_innings_284104.csv.gz', 'mystage3/four_wickets_in_four_balls_1199858.csv/four_wickets_in_four_balls_1199858.csv.gz', 'mystage3/hat_tricks_283738.csv/hat_tricks_283738.csv.gz', 'mystage3/highest_average_of_runs_per_wicket_283202.csv/highest_average_of_runs_per_wicket_283202.csv.gz', 'mystage3/highest_career_batting_average_282912.csv/highest_career_batting_average_282912.csv.gz', 'mystage3/highest_career_strike_rate_282920.csv/highest_career_strike_rate_282920.csv.gz', 'mystage3/highest_innings_totals_283218.csv/highest_innings_totals_283218.csv.gz', 'mystage3/highest_innings_totals_batting_second_283214.csv/highest_innings_totals_batting_second_283214.csv.gz', 'mystage3/highest_match_aggregates_283154.csv/highest_match_aggregates_283154.csv.gz', 'mystage3/highest_overall_partnership_runs_by_a_pair_283511.csv/highest_overall_partnership_runs_by_a_pair_283511.csv.gz', 'mystage3/highest_overall_partnership_runs_by_openers_283509.csv/highest_overall_partnership_runs_by_openers_283509.csv.gz', 'mystage3/highest_partnership_by_debutants_283515.csv/highest_partnership_by_debutants_283515.csv.gz', 'mystage3/highest_partnership_for_the_eighth_wicket_283558.csv/highest_partnership_for_the_eighth_wicket_283558.csv.gz', 'mystage3/highest_partnership_for_the_fifth_wicket_283580.csv/highest_partnership_for_the_fifth_wicket_283580.csv.gz', 'mystage3/highest_partnership_for_the_first_wicket_283608.csv/highest_partnership_for_the_first_wicket_283608.csv.gz', 'mystage3/highest_partnership_for_the_fourth_wicket_283587.csv/highest_partnership_for_the_fourth_wicket_283587.csv.gz', 'mystage3/highest_partnership_for_the_ninth_wicket_283551.csv/highest_partnership_for_the_ninth_wicket_283551.csv.gz', 'mystage3/highest_partnership_for_the_second_wicket_283601.csv/highest_partnership_for_the_second_wicket_283601.csv.gz', 'mystage3/highest_partnership_for_the_seventh_wicket_283565.csv/highest_partnership_for_the_seventh_wicket_283565.csv.gz', 'mystage3/highest_partnership_for_the_sixth_wicket_283571.csv/highest_partnership_for_the_sixth_wicket_283571.csv.gz', 'mystage3/highest_partnership_for_the_tenth_wicket_283522.csv/highest_partnership_for_the_tenth_wicket_283522.csv.gz', 'mystage3/highest_partnership_for_the_third_wicket_283594.csv/highest_partnership_for_the_third_wicket_283594.csv.gz', 'mystage3/highest_partnerships_by_wicket_283616.csv/highest_partnerships_by_wicket_283616.csv.gz', 'mystage3/highest_partnerships_for_any_wicket_283622.csv/highest_partnerships_for_any_wicket_283622.csv.gz', 'mystage3/highest_percentage_of_runs_in_a_completed_innings_283996.csv/highest_percentage_of_runs_in_a_completed_innings_283996.csv.gz', 'mystage3/highest_run_rate_in_a_completed_innings_283138.csv/highest_run_rate_in_a_completed_innings_283138.csv.gz', 'mystage3/highest_run_rate_no_qualification_283128.csv/highest_run_rate_no_qualification_283128.csv.gz', 'mystage3/highest_score_at_each_fall_of_wicket_283500.csv/highest_score_at_each_fall_of_wicket_283500.csv.gz', 'mystage3/highest_strike_rate_in_an_innings_284190.csv/highest_strike_rate_in_an_innings_284190.csv.gz', 'mystage3/hundreds_in_consecutive_innings_1342806.csv/hundreds_in_consecutive_innings_1342806.csv.gz', 'mystage3/index.html.csv/index.html.csv.gz', 'mystage3/largest_margin_of_victory_by_balls_remaining_283270.csv/largest_margin_of_victory_by_balls_remaining_283270.csv.gz', 'mystage3/largest_margin_of_victory_by_runs_283283.csv/largest_margin_of_victory_by_runs_283283.csv.gz', 'mystage3/largest_margin_of_victory_by_wickets_283277.csv/largest_margin_of_victory_by_wickets_283277.csv.gz', 'mystage3/least_players_used_by_one_side_in_a_series_789337.csv/least_players_used_by_one_side_in_a_series_789337.csv.gz', 'mystage3/list_of_series_results_335433.csv/list_of_series_results_335433.csv.gz', 'mystage3/longest_careers_1219896.csv/longest_careers_1219896.csv.gz', 'mystage3/longest_individual_innings_by_balls_283131.csv/longest_individual_innings_by_balls_283131.csv.gz', 'mystage3/longest_intervals_between_appearances_1222956.csv/longest_intervals_between_appearances_1222956.csv.gz', 'mystage3/lowest_innings_totals_283172.csv/lowest_innings_totals_283172.csv.gz', 'mystage3/lowest_match_aggregates_283146.csv/lowest_match_aggregates_283146.csv.gz', 'mystage3/lowest_run_rate_in_a_completed_innings_283115.csv/lowest_run_rate_in_a_completed_innings_283115.csv.gz', 'mystage3/lowest_score_at_each_fall_of_wicket_283494.csv/lowest_score_at_each_fall_of_wicket_283494.csv.gz', 'mystage3/most_balls_bowled_in_career_283773.csv/most_balls_bowled_in_career_283773.csv.gz', 'mystage3/most_batters_bowled_in_a_match_282855.csv/most_batters_bowled_in_a_match_282855.csv.gz', 'mystage3/most_batters_bowled_in_an_innings_282862.csv/most_batters_bowled_in_an_innings_282862.csv.gz', 'mystage3/most_batters_caught_in_a_match_282871.csv/most_batters_caught_in_a_match_282871.csv.gz', 'mystage3/most_batters_caught_in_an_innings_282878.csv/most_batters_caught_in_an_innings_282878.csv.gz', 'mystage3/most_batters_lbw_in_a_match_282839.csv/most_batters_lbw_in_a_match_282839.csv.gz', 'mystage3/most_batters_lbw_in_an_innings_282846.csv/most_batters_lbw_in_an_innings_282846.csv.gz', 'mystage3/most_batters_not_reaching_double_figures_in_an_innings_283047.csv/most_batters_not_reaching_double_figures_in_an_innings_283047.csv.gz', 'mystage3/most_batters_reaching_double_figures_in_an_innings_283054.csv/most_batters_reaching_double_figures_in_an_innings_283054.csv.gz', 'mystage3/most_batters_run_out_in_a_match_282823.csv/most_batters_run_out_in_a_match_282823.csv.gz', 'mystage3/most_batters_run_out_in_an_innings_282833.csv/most_batters_run_out_in_an_innings_282833.csv.gz', 'mystage3/most_batters_stumped_in_a_match_282811.csv/most_batters_stumped_in_a_match_282811.csv.gz', 'mystage3/most_batters_stumped_in_an_innings_282817.csv/most_batters_stumped_in_an_innings_282817.csv.gz', 'mystage3/most_bowlers_in_a_match_282921.csv/most_bowlers_in_a_match_282921.csv.gz', 'mystage3/most_bowlers_in_an_innings_282928.csv/most_bowlers_in_an_innings_282928.csv.gz', 'mystage3/most_bowlers_taking_a_wicket_in_an_innings_282913.csv/most_bowlers_taking_a_wicket_in_an_innings_282913.csv.gz', 'mystage3/most_bowlers_taking_a_wicket_in_an_match_282902.csv/most_bowlers_taking_a_wicket_in_an_match_282902.csv.gz', 'mystage3/most_byes_conceded_in_an_innings_283313.csv/most_byes_conceded_in_an_innings_283313.csv.gz', 'mystage3/most_byes_in_a_match_319175.csv/most_byes_in_a_match_319175.csv.gz', 'mystage3/most_byes_in_an_innings_282960.csv/most_byes_in_an_innings_282960.csv.gz', 'mystage3/most_catches_by_a_substitute_in_an_innings_283625.csv/most_catches_by_a_substitute_in_an_innings_283625.csv.gz', 'mystage3/most_catches_in_an_innings_283353.csv/most_catches_in_an_innings_283353.csv.gz', 'mystage3/most_catches_in_an_innings_283641.csv/most_catches_in_an_innings_283641.csv.gz', 'mystage3/most_catches_in_career_283364.csv/most_catches_in_career_283364.csv.gz', 'mystage3/most_catches_in_career_283650.csv/most_catches_in_career_283650.csv.gz', 'mystage3/most_consecutive_defeats_283091.csv/most_consecutive_defeats_283091.csv.gz', 'mystage3/most_consecutive_ducks_284043.csv/most_consecutive_ducks_284043.csv.gz', 'mystage3/most_consecutive_four_wickets_in_an_innings_283804.csv/most_consecutive_four_wickets_in_an_innings_283804.csv.gz', 'mystage3/most_consecutive_innings_without_a_duck_284072.csv/most_consecutive_innings_without_a_duck_284072.csv.gz', 'mystage3/most_consecutive_matches_as_captain_of_a_team_1223146.csv/most_consecutive_matches_as_captain_of_a_team_1223146.csv.gz', 'mystage3/most_consecutive_matches_for_a_team_283482.csv/most_consecutive_matches_for_a_team_283482.csv.gz', 'mystage3/most_consecutive_matches_missed_for_a_team_between_appearances_323042.csv/most_consecutive_matches_missed_for_a_team_between_appearances_323042.csv.gz', 'mystage3/most_consecutive_matches_without_defeat_283106.csv/most_consecutive_matches_without_defeat_283106.csv.gz', 'mystage3/most_consecutive_matches_without_victory_283096.csv/most_consecutive_matches_without_victory_283096.csv.gz', 'mystage3/most_consecutive_wins_283111.csv/most_consecutive_wins_283111.csv.gz', 'mystage3/most_dismissals_in_an_innings_283377.csv/most_dismissals_in_an_innings_283377.csv.gz', 'mystage3/most_dismissals_in_career_283793.csv/most_dismissals_in_career_283793.csv.gz', 'mystage3/most_ducks_in_a_match_283030.csv/most_ducks_in_a_match_283030.csv.gz', 'mystage3/most_ducks_in_an_innings_283038.csv/most_ducks_in_an_innings_283038.csv.gz', 'mystage3/most_ducks_in_career_284058.csv/most_ducks_in_career_284058.csv.gz', 'mystage3/most_extras_in_a_match_282966.csv/most_extras_in_a_match_282966.csv.gz', 'mystage3/most_extras_in_an_innings_282980.csv/most_extras_in_an_innings_282980.csv.gz', 'mystage3/most_fifties_in_career_283018.csv/most_fifties_in_career_283018.csv.gz', 'mystage3/most_four_wickets_in_an_innings_in_a_career_283816.csv/most_four_wickets_in_an_innings_in_a_career_283816.csv.gz', 'mystage3/most_fours_in_a_match_283008.csv/most_fours_in_a_match_283008.csv.gz', 'mystage3/most_fours_in_an_innings_283015.csv/most_fours_in_an_innings_283015.csv.gz', 'mystage3/most_fours_in_an_innings_284016.csv/most_fours_in_an_innings_284016.csv.gz', 'mystage3/most_fours_in_career_284021.csv/most_fours_in_career_284021.csv.gz', 'mystage3/most_hundred_partnerships_by_a_pair_283503.csv/most_hundred_partnerships_by_a_pair_283503.csv.gz', 'mystage3/most_innings_before_first_duck_284080.csv/most_innings_before_first_duck_284080.csv.gz', 'mystage3/most_leg_byes_in_a_match_319182.csv/most_leg_byes_in_a_match_319182.csv.gz', 'mystage3/most_leg_byes_in_an_innings_282952.csv/most_leg_byes_in_an_innings_282952.csv.gz', 'mystage3/most_maidens_in_an_innings_311985.csv/most_maidens_in_an_innings_311985.csv.gz', 'mystage3/most_maidens_in_career_311984.csv/most_maidens_in_career_311984.csv.gz', 'mystage3/most_matches_as_a_match_referee_283386.csv/most_matches_as_a_match_referee_283386.csv.gz', 'mystage3/most_matches_as_an_umpire_283392.csv/most_matches_as_an_umpire_283392.csv.gz', 'mystage3/most_matches_as_captain_283428.csv/most_matches_as_captain_283428.csv.gz', 'mystage3/most_matches_in_a_series_without_a_win_789339.csv/most_matches_in_a_series_without_a_win_789339.csv.gz', 'mystage3/most_matches_in_career_283684.csv/most_matches_in_career_283684.csv.gz', 'mystage3/most_matches_on_a_single_ground_304110.csv/most_matches_on_a_single_ground_304110.csv.gz', 'mystage3/most_no_balls_in_a_match_319196.csv/most_no_balls_in_a_match_319196.csv.gz', 'mystage3/most_no_balls_in_an_innings_282936.csv/most_no_balls_in_an_innings_282936.csv.gz', 'mystage3/most_player_of_the_match_awards_283472.csv/most_player_of_the_match_awards_283472.csv.gz', 'mystage3/most_player_of_the_series_awards_1219894.csv/most_player_of_the_series_awards_1219894.csv.gz', 'mystage3/most_players_used_by_one_side_in_a_series_789341.csv/most_players_used_by_one_side_in_a_series_789341.csv.gz', 'mystage3/most_runs_conceded_in_an_innings_283749.csv/most_runs_conceded_in_an_innings_283749.csv.gz', 'mystage3/most_runs_conceded_in_career_283760.csv/most_runs_conceded_in_career_283760.csv.gz', 'mystage3/most_runs_from_fours_and_sixes_in_a_match_282999.csv/most_runs_from_fours_and_sixes_in_a_match_282999.csv.gz', 'mystage3/most_runs_from_fours_and_sixes_in_an_innings_283004.csv/most_runs_from_fours_and_sixes_in_an_innings_283004.csv.gz', 'mystage3/most_runs_from_fours_and_sixes_in_an_innings_284015.csv/most_runs_from_fours_and_sixes_in_an_innings_284015.csv.gz', 'mystage3/most_runs_in_a_calendar_year_284247.csv/most_runs_in_a_calendar_year_284247.csv.gz', 'mystage3/most_runs_in_a_match_on_the_losing_side_284236.csv/most_runs_in_a_match_on_the_losing_side_284236.csv.gz', 'mystage3/most_runs_in_an_innings_284262.csv/most_runs_in_an_innings_284262.csv.gz', 'mystage3/most_runs_in_an_innings_by_a_captain_284218.csv/most_runs_in_an_innings_by_a_captain_284218.csv.gz', 'mystage3/most_runs_in_an_innings_by_a_wicketkeeper_284209.csv/most_runs_in_an_innings_by_a_wicketkeeper_284209.csv.gz', 'mystage3/most_runs_in_an_innings_by_batting_position_284241.csv/most_runs_in_an_innings_by_batting_position_284241.csv.gz', 'mystage3/most_runs_in_an_innings_progressive_record_holder_284256.csv/most_runs_in_an_innings_progressive_record_holder_284256.csv.gz', 'mystage3/most_runs_in_an_innings_when_only_five_bowlers_used_282885.csv/most_runs_in_an_innings_when_only_five_bowlers_used_282885.csv.gz', 'mystage3/most_runs_in_career_282827.csv/most_runs_in_career_282827.csv.gz', 'mystage3/most_runs_in_debut_match_284183.csv/most_runs_in_debut_match_284183.csv.gz', 'mystage3/most_runs_off_one_over_284226.csv/most_runs_off_one_over_284226.csv.gz', 'mystage3/most_runs_on_a_single_ground_284231.csv/most_runs_on_a_single_ground_284231.csv.gz', 'mystage3/most_sixes_in_a_match_283012.csv/most_sixes_in_a_match_283012.csv.gz', 'mystage3/most_sixes_in_an_innings_283019.csv/most_sixes_in_an_innings_283019.csv.gz', 'mystage3/most_sixes_in_an_innings_284019.csv/most_sixes_in_an_innings_284019.csv.gz', 'mystage3/most_sixes_in_career_283104.csv/most_sixes_in_career_283104.csv.gz', 'mystage3/most_stumpings_in_an_innings_283327.csv/most_stumpings_in_an_innings_283327.csv.gz', 'mystage3/most_stumpings_in_career_283338.csv/most_stumpings_in_career_283338.csv.gz', 'mystage3/most_wickets_in_a_calendar_year_283961.csv/most_wickets_in_a_calendar_year_283961.csv.gz', 'mystage3/most_wickets_in_career_283194.csv/most_wickets_in_career_283194.csv.gz', 'mystage3/most_wickets_on_a_single_ground_283946.csv/most_wickets_on_a_single_ground_283946.csv.gz', 'mystage3/most_wickets_taken_bowled_283720.csv/most_wickets_taken_bowled_283720.csv.gz', 'mystage3/most_wickets_taken_caught_283713.csv/most_wickets_taken_caught_283713.csv.gz', 'mystage3/most_wickets_taken_caught_and_bowled_283706.csv/most_wickets_taken_caught_and_bowled_283706.csv.gz', 'mystage3/most_wickets_taken_caught_by_a_fielder_283697.csv/most_wickets_taken_caught_by_a_fielder_283697.csv.gz', 'mystage3/most_wickets_taken_caught_by_a_wicketkeeper_283690.csv/most_wickets_taken_caught_by_a_wicketkeeper_283690.csv.gz', 'mystage3/most_wickets_taken_hit_wicket_283666.csv/most_wickets_taken_hit_wicket_283666.csv.gz', 'mystage3/most_wickets_taken_lbw_283680.csv/most_wickets_taken_lbw_283680.csv.gz', 'mystage3/most_wickets_taken_stumped_283673.csv/most_wickets_taken_stumped_283673.csv.gz', 'mystage3/most_wides_in_a_match_319189.csv/most_wides_in_a_match_319189.csv.gz', 'mystage3/most_wides_in_an_innings_282943.csv/most_wides_in_an_innings_282943.csv.gz', 'mystage3/no_ducks_in_career_284087.csv/no_ducks_in_career_284087.csv.gz', 'mystage3/oldest_captains_283408.csv/oldest_captains_283408.csv.gz', 'mystage3/oldest_captains_on_captaincy_debut_323897.csv/oldest_captains_on_captaincy_debut_323897.csv.gz', 'mystage3/oldest_living_players_1223145.csv/oldest_living_players_1223145.csv.gz', 'mystage3/oldest_players_283455.csv/oldest_players_283455.csv.gz', 'mystage3/oldest_players_on_debut_283460.csv/oldest_players_on_debut_283460.csv.gz', 'mystage3/outstanding_bowling_analyses_in_an_innings_283952.csv/outstanding_bowling_analyses_in_an_innings_283952.csv.gz', 'mystage3/related_twenty20_international_players_312634.csv/related_twenty20_international_players_312634.csv.gz', 'mystage3/representing_two_countries_485107.csv/representing_two_countries_485107.csv.gz', 'mystage3/results_summary_283307.csv/results_summary_283307.csv.gz', 'mystage3/results_summary_by_opposition_283301.csv/results_summary_by_opposition_283301.csv.gz', 'mystage3/shortest_completed_innings_by_balls_283159.csv/shortest_completed_innings_by_balls_283159.csv.gz', 'mystage3/shortest_lived_players_1223144.csv/shortest_lived_players_1223144.csv.gz', 'mystage3/shortest_matches_by_balls_bowled_283075.csv/shortest_matches_by_balls_bowled_283075.csv.gz', 'mystage3/smallest_margin_of_victory_by_runs_283262.csv/smallest_margin_of_victory_by_runs_283262.csv.gz', 'mystage3/smallest_margin_of_victory_by_wickets_283252.csv/smallest_margin_of_victory_by_wickets_283252.csv.gz', 'mystage3/t20_world_cup_fastest_fifties_1284110.csv/t20_world_cup_fastest_fifties_1284110.csv.gz', 'mystage3/t20_world_cup_fastest_hundreds_1284121.csv/t20_world_cup_fastest_hundreds_1284121.csv.gz', 'mystage3/t20_world_cup_hat_tricks_1343247.csv/t20_world_cup_hat_tricks_1343247.csv.gz', 'mystage3/tied_matches_283291.csv/tied_matches_283291.csv.gz', 'mystage3/two_bowlers_with_four_wickets_in_an_innings_282895.csv/two_bowlers_with_four_wickets_in_an_innings_282895.csv.gz', 'mystage3/unusual_dismissals_283988.csv/unusual_dismissals_283988.csv.gz', 'mystage3/wicket_with_first_ball_in_career_530931.csv/wicket_with_first_ball_in_career_530931.csv.gz', 'mystage3/winning_all_tosses_in_a_series_1223147.csv/winning_all_tosses_in_a_series_1223147.csv.gz', 'mystage3/winning_on_the_last_ball_of_the_match_283248.csv/winning_on_the_last_ball_of_the_match_283248.csv.gz', 'mystage3/worst_career_bowling_average_283879.csv/worst_career_bowling_average_283879.csv.gz', 'mystage3/worst_career_bowling_average_without_qualification_28

Table 'abandoned_matches_283285' created successfully.
best_career_bowling_average_283258
CREATE OR REPLACE TABLE MYCRICKET.DATA3.best_career_bowling_average_283258 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Span NUMBER, Mat NUMBER, Overs NUMBER, Mdns NUMBER, Balls NUMBER, Runs NUMBER, Wkts NUMBER, BBI NUMBER, BBM NUMBER, Ave NUMBER, Econ NUMBER, SR NUMBER, S_4 NUMBER, S_5 NUMBER, S_10 VARCHAR(255))
Table 'best_career_bowling_average_283258' created successfully.
best_career_bowling_average_without_qualification_283899
CREATE OR REPLACE TABLE MYCRICKET.DATA3.best_career_bowling_average_without_qualification_283899 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Span NUMBER, Mat NUMBER, Balls NUMBER, Overs NUMBER, Mdns VARCHAR(255), Runs NUMBER, Wkts NUMBER, BBI NUMBER, BBM NUMBER, Ave NUMBER, Econ NUMBER, SR NUMBER, S_4 VARCHAR(255), S_5 VARCHAR(255), S_10 VARCHAR(255))
Table 'best_career_bowling_average_without_qualification_283899' created successfully.
best_career_economy_rate_283267
CREATE OR REPLACE TABLE MYCRICKET.DATA3.best_career_economy_rate_283267 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Span NUMBER, Mat NUMBER, Overs NUMBER, Mdns NUMBER, Balls NUMBER, Runs NUMBER, Wkts NUMBER, BBI NUMBER, BBM NUMBER, Ave NUMBER, Econ NUMBER, SR NUMBER, S_4 NUMBER, S_5 NUMBER, S_10 VARCHAR(255))
Table 'best_career_economy_rate_283267' created successfully.
best_career_strike_rate_283276
CREATE OR REPLACE TABLE MYCRICKET.DATA3.best_career_strike_rate_283276 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Span NUMBER, Mat NUMBER, Overs NUMBER, Mdns NUMBER, Balls NUMBER, Runs NUMBER, Wkts NUMBER, BBI NUMBER, BBM NUMBER, Ave NUMBER, Econ NUMBER, SR NUMBER, S_4 NUMBER, S_5 NUMBER, S_10 VARCHAR(255))
Table 'best_career_strike_rate_283276' created successfully.
best_economy_rate_in_an_innings_283890
CREATE OR REPLACE TABLE MYCRICKET.DATA3.best_economy_rate_in_an_innings_283890 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Overs NUMBER, Mdns NUMBER, Runs NUMBER, Wkts NUMBER, Econ NUMBER, Team NUMBER, Opposition NUMBER, Ground NUMBER, Match_Date NUMBER, Scorecard NUMBER)
Table 'best_economy_rate_in_an_innings_283890' created successfully.
best_figures_in_a_innings_by_a_captain_283935
CREATE OR REPLACE TABLE MYCRICKET.DATA3.best_figures_in_a_innings_by_a_captain_283935 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Overs NUMBER, Mdns VARCHAR(255), Runs NUMBER, Wkts NUMBER, Econ NUMBER, Team VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'best_figures_in_a_innings_by_a_captain_283935' created successfully.
best_figures_in_a_innings_on_debut_283833
CREATE OR REPLACE TABLE MYCRICKET.DATA3.best_figures_in_a_innings_on_debut_283833 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Overs NUMBER, Mdns VARCHAR(255), Runs NUMBER, Wkts NUMBER, Econ NUMBER, Team VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'best_figures_in_a_innings_on_debut_283833' created successfully.
best_figures_in_a_innings_when_on_the_losing_side_283926
CREATE OR REPLACE TABLE MYCRICKET.DATA3.best_figures_in_a_innings_when_on_the_losing_side_283926 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Overs NUMBER, Mdns VARCHAR(255), Runs NUMBER, Wkts NUMBER, Econ NUMBER, Team VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'best_figures_in_a_innings_when_on_the_losing_side_283926' created successfully.
best_figures_in_an_innings_283973
CREATE OR REPLACE TABLE MYCRICKET.DATA3.best_figures_in_an_innings_283973 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Overs NUMBER, Mdns NUMBER, Runs NUMBER, Wkts NUMBER, Econ NUMBER, Team VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'best_figures_in_an_innings_283973' created successfully.
best_strike_rate_in_an_innings_283886
CREATE OR REPLACE TABLE MYCRICKET.DATA3.best_strike_rate_in_an_innings_283886 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Overs NUMBER, Mdns VARCHAR(255), Runs VARCHAR(255), Wkts NUMBER, SR NUMBER, Team VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'best_strike_rate_in_an_innings_283886' created successfully.
bowler_batters_combinations_283734
CREATE OR REPLACE TABLE MYCRICKET.DATA3.bowler_batters_combinations_283734 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Bowler VARCHAR(255), _1 VARCHAR(255), Batter NUMBER, Span NUMBER, Mat NUMBER, Wkts NUMBER, Ave NUMBER, Ducks NUMBER)
Table 'bowler_batters_combinations_283734' created successfully.
bowler_fielder_combinations_283728
CREATE OR REPLACE TABLE MYCRICKET.DATA3.bowler_fielder_combinations_283728 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Bowler VARCHAR(255), _1 VARCHAR(255), Fielder NUMBER, Span NUMBER, Mat NUMBER, Wkts NUMBER, Ct_WK NUMBER, Ct_Fi NUMBER, St NUMBER)
Table 'bowler_fielder_combinations_283728' created successfully.
captains_who_have_kept_wicket_283402
CREATE OR REPLACE TABLE MYCRICKET.DATA3.captains_who_have_kept_wicket_283402 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), _1 NUMBER, Span NUMBER, Mat NUMBER)
Table 'captains_who_have_kept_wicket_283402' created successfully.
captains_who_have_kept_wicket_and_opened_the_batting_283396
CREATE OR REPLACE TABLE MYCRICKET.DATA3.captains_who_have_kept_wicket_and_opened_the_batting_283396 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), _1 NUMBER, Span NUMBER, Mat NUMBER)
Table 'captains_who_have_kept_wicket_and_opened_the_batting_283396' created successfully.
carrying_bat_through_a_completed_innings_284000
CREATE OR REPLACE TABLE MYCRICKET.DATA3.carrying_bat_through_a_completed_innings_284000 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Runs NUMBER, Total NUMBER, Inns NUMBER, Team VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'carrying_bat_through_a_completed_innings_284000' created successfully.
dismissed_by_the_first_ball_of_a_match_283991
CREATE OR REPLACE TABLE MYCRICKET.DATA3.dismissed_by_the_first_ball_of_a_match_283991 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Batter VARCHAR(255), Bowler VARCHAR(255), Match VARCHAR(255), Venue VARCHAR(255), Date NUMBER)
Table 'dismissed_by_the_first_ball_of_a_match_283991' created successfully.
dismissed_for_99_569883
CREATE OR REPLACE TABLE MYCRICKET.DATA3.dismissed_for_99_569883 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Runs NUMBER, Mins NUMBER, Balls NUMBER, S_4s NUMBER, S_6s NUMBER, SR NUMBER, Team VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'dismissed_for_99_569883' created successfully.
extras_being_highest_scorer_in_a_completed_innings_282984
CREATE OR REPLACE TABLE MYCRICKET.DATA3.extras_being_highest_scorer_in_a_completed_innings_282984 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Team VARCHAR(255), Score NUMBER, Ext NUMBER, Inns NUMBER, Result VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'extras_being_highest_scorer_in_a_completed_innings_282984' created successfully.
fastest_fifties_284094
CREATE OR REPLACE TABLE MYCRICKET.DATA3.fastest_fifties_284094 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Balls NUMBER, Match VARCHAR(255), Venue VARCHAR(255), Date NUMBER)
Table 'fastest_fifties_284094' created successfully.
fastest_hundreds_386083
CREATE OR REPLACE TABLE MYCRICKET.DATA3.fastest_hundreds_386083 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Balls NUMBER, Match VARCHAR(255), Venue VARCHAR(255), Date NUMBER)
Table 'fastest_hundreds_386083' created successfully.
fastest_to_1000_runs_925247
CREATE OR REPLACE TABLE MYCRICKET.DATA3.fastest_to_1000_runs_925247 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Debut NUMBER, Time NUMBER, Mat NUMBER, Inns NUMBER, Scorecard VARCHAR(255))
Table 'fastest_to_1000_runs_925247' created successfully.

fastest_to_100_wickets_1286053
CREATE OR REPLACE TABLE MYCRICKET.DATA3.fastest_to_100_wickets_1286053 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Debut NUMBER, Time NUMBER, Mat NUMBER, Scorecard VARCHAR(255))
Table 'fastest_to_100_wickets_1286053' created successfully.
fastest_to_2000_runs_1213211
CREATE OR REPLACE TABLE MYCRICKET.DATA3.fastest_to_2000_runs_1213211 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Debut NUMBER, Time NUMBER, Mat NUMBER, Inns NUMBER, Scorecard VARCHAR(255))
Table 'fastest_to_2000_runs_1213211' created successfully.
fastest_to_2500_runs_1288793
CREATE OR REPLACE TABLE MYCRICKET.DATA3.fastest_to_2500_runs_1288793 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Debut NUMBER, Time NUMBER, Mat NUMBER, Inns NUMBER, Scorecard VARCHAR(255))
Table 'fastest_to_2500_runs_1288793' created successfully.
fastest_to_3000_runs_1335852
CREATE OR REPLACE TABLE MYCRICKET.DATA3.fastest_to_3000_runs_1335852 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Debut NUMBER, Time NUMBER, Mat NUMBER, Inns NUMBER, Scorecard VARCHAR(255))
Table 'fastest_to_3000_runs_1335852' created successfully.
fastest_to_3500_runs_1335854
CREATE OR REPLACE TABLE MYCRICKET.DATA3.fastest_to_3500_runs_1335854 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Debut NUMBER, Time NUMBER, Mat NUMBER, Inns NUMBER, Scorecard VARCHAR(255))
Table 'fastest_to_3500_runs_1335854' created successfully.
fastest_to_50_wickets_926347
CREATE OR REPLACE TABLE MYCRICKET.DATA3.fastest_to_50_wickets_926347 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Debut NUMBER, Time NUMBER, Mat NUMBER, Scorecard VARCHAR(255))
Table 'fastest_to_50_wickets_926347' created successfully.
feedback
CREATE OR REPLACE TABLE MYCRICKET.DATA3.feedback (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9))
Table 'feedback' created successfully.
fewest_ducks_in_career_284064
CREATE OR REPLACE TABLE MYCRICKET.DATA3.fewest_ducks_in_career_284064 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Span NUMBER, Mat NUMBER, Inns NUMBER, NO NUMBER, Runs NUMBER, HS NUMBER, Ave NUMBER, S_100 NUMBER, S_50 NUMBER, S_0 NUMBER, S_0SlashInns NUMBER)
Table 'fewest_ducks_in_career_284064' created successfully.
fifties_in_consecutive_innings_284104
CREATE OR REPLACE TABLE MYCRICKET.DATA3.fifties_in_consecutive_innings_284104 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), S_50s NUMBER, Runs NUMBER, Inns NUMBER, Team VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'fifties_in_consecutive_innings_284104' created successfully.
four_wickets_in_four_balls_1199858
CREATE OR REPLACE TABLE MYCRICKET.DATA3.four_wickets_in_four_balls_1199858 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Bowler VARCHAR(255), Match VARCHAR(255), Location VARCHAR(255), Year NUMBER)
Table 'four_wickets_in_four_balls_1199858' created successfully.
hat_tricks_283738
CREATE OR REPLACE TABLE MYCRICKET.DATA3.hat_tricks_283738 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Match VARCHAR(255), Venue VARCHAR(255), Season NUMBER, Victims VARCHAR(255))
Table 'hat_tricks_283738' created successfully.
highest_average_of_runs_per_wicket_283202
CREATE OR REPLACE TABLE MYCRICKET.DATA3.highest_average_of_runs_per_wicket_283202 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Team VARCHAR(255), Ave NUMBER, Score NUMBER, Overs NUMBER, Inns NUMBER, Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'highest_average_of_runs_per_wicket_283202' created successfully.
highest_career_batting_average_282912
CREATE OR REPLACE TABLE MYCRICKET.DATA3.highest_career_batting_average_282912 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Span NUMBER, Mat NUMBER, Inns NUMBER, NO NUMBER, Runs NUMBER, HS NUMBER, Ave NUMBER, BF NUMBER, SR NUMBER, S_100 VARCHAR(255), S_50 NUMBER, S_0 NUMBER, S_4s NUMBER, S_6s NUMBER)
Table 'highest_career_batting_average_282912' created successfully.
highest_career_strike_rate_282920
CREATE OR REPLACE TABLE MYCRICKET.DATA3.highest_career_strike_rate_282920 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Span NUMBER, Mat NUMBER, Inns NUMBER, NO NUMBER, Runs NUMBER, HS NUMBER, Ave NUMBER, BF NUMBER, SR NUMBER, S_100 NUMBER, S_50 NUMBER, S_0 NUMBER, S_4s NUMBER, S_6s NUMBER)
Table 'highest_career_strike_rate_282920' created successfully.
highest_innings_totals_283218
CREATE OR REPLACE TABLE MYCRICKET.DATA3.highest_innings_totals_283218 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Team VARCHAR(255), Score NUMBER, Overs NUMBER, RR NUMBER, Inns NUMBER, Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'highest_innings_totals_283218' created successfully.
highest_innings_totals_batting_second_283214
CREATE OR REPLACE TABLE MYCRICKET.DATA3.highest_innings_totals_batting_second_283214 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Team VARCHAR(255), Score NUMBER, Overs NUMBER, RR NUMBER, Result VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'highest_innings_totals_batting_second_283214' created successfully.
highest_match_aggregates_283154
CREATE OR REPLACE TABLE MYCRICKET.DATA3.highest_match_aggregates_283154 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Team_1 VARCHAR(255), Team_2 VARCHAR(255), Runs NUMBER, Wkts NUMBER, Overs NUMBER, RR NUMBER, Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'highest_match_aggregates_283154' created successfully.
highest_overall_partnership_runs_by_a_pair_283511
CREATE OR REPLACE TABLE MYCRICKET.DATA3.highest_overall_partnership_runs_by_a_pair_283511 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Partners VARCHAR(255), Span NUMBER, Inns NUMBER, NO NUMBER, Runs_1 NUMBER, Runs NUMBER, Ave NUMBER, S_100 NUMBER, S_50 NUMBER)
Table 'highest_overall_partnership_runs_by_a_pair_283511' created successfully.
highest_overall_partnership_runs_by_openers_283509
CREATE OR REPLACE TABLE MYCRICKET.DATA3.highest_overall_partnership_runs_by_openers_283509 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Partners VARCHAR(255), Span NUMBER, Inns NUMBER, NO NUMBER, Runs_1 NUMBER, Runs NUMBER, Ave NUMBER, S_100 NUMBER, S_50 NUMBER)
Table 'highest_overall_partnership_runs_by_openers_283509' created successfully.
highest_partnership_by_debutants_283515
CREATE OR REPLACE TABLE MYCRICKET.DATA3.highest_partnership_by_debutants_283515 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Partners VARCHAR(255), Runs NUMBER, Wkt NUMBER, Inns NUMBER, Team VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'highest_partnership_by_debutants_283515' created successfully.
highest_partnership_for_the_eighth_wicket_283558
CREATE OR REPLACE TABLE MYCRICKET.DATA3.highest_partnership_for_the_eighth_wicket_283558 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Partners VARCHAR(255), Runs NUMBER, Team VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'highest_partnership_for_the_eighth_wicket_283558' created successfully.
highest_partnership_for_the_fifth_wicket_283580
CREATE OR REPLACE TABLE MYCRICKET.DATA3.highest_partnership_for_the_fifth_wicket_283580 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Partners VARCHAR(255), Runs NUMBER, Team VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'highest_partnership_for_the_fifth_wicket_283580' created successfully.
highest_partnership_for_the_first_wicket_283608
CREATE OR REPLACE TABLE MYCRICKET.DATA3.highest_partnership_for_the_first_wicket_283608 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Partners VARCHAR(255), Runs NUMBER, Team VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))

Table 'highest_partnership_for_the_first_wicket_283608' created successfully.
highest_partnership_for_the_fourth_wicket_283587
CREATE OR REPLACE TABLE MYCRICKET.DATA3.highest_partnership_for_the_fourth_wicket_283587 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Partners VARCHAR(255), Runs NUMBER, Team VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'highest_partnership_for_the_fourth_wicket_283587' created successfully.
highest_partnership_for_the_ninth_wicket_283551
CREATE OR REPLACE TABLE MYCRICKET.DATA3.highest_partnership_for_the_ninth_wicket_283551 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Partners VARCHAR(255), Runs NUMBER, Team VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'highest_partnership_for_the_ninth_wicket_283551' created successfully.
highest_partnership_for_the_second_wicket_283601
CREATE OR REPLACE TABLE MYCRICKET.DATA3.highest_partnership_for_the_second_wicket_283601 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Partners VARCHAR(255), Runs NUMBER, Team VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'highest_partnership_for_the_second_wicket_283601' created successfully.
highest_partnership_for_the_seventh_wicket_283565
CREATE OR REPLACE TABLE MYCRICKET.DATA3.highest_partnership_for_the_seventh_wicket_283565 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Partners VARCHAR(255), Runs NUMBER, Team VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'highest_partnership_for_the_seventh_wicket_283565' created successfully.
highest_partnership_for_the_sixth_wicket_283571
CREATE OR REPLACE TABLE MYCRICKET.DATA3.highest_partnership_for_the_sixth_wicket_283571 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Partners VARCHAR(255), Runs NUMBER, Team VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'highest_partnership_for_the_sixth_wicket_283571' created successfully.
highest_partnership_for_the_tenth_wicket_283522
CREATE OR REPLACE TABLE MYCRICKET.DATA3.highest_partnership_for_the_tenth_wicket_283522 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Partners VARCHAR(255), Runs NUMBER, Team VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'highest_partnership_for_the_tenth_wicket_283522' created successfully.
highest_partnership_for_the_third_wicket_283594
CREATE OR REPLACE TABLE MYCRICKET.DATA3.highest_partnership_for_the_third_wicket_283594 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Partners VARCHAR(255), Runs NUMBER, Team VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'highest_partnership_for_the_third_wicket_283594' created successfully.
highest_partnerships_by_wicket_283616
CREATE OR REPLACE TABLE MYCRICKET.DATA3.highest_partnerships_by_wicket_283616 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Wkt VARCHAR(255), Runs NUMBER, Partners NUMBER, Team NUMBER, Opposition NUMBER, Ground NUMBER, Match_Date NUMBER, Scorecard NUMBER)
Table 'highest_partnerships_by_wicket_283616' created successfully.
highest_partnerships_for_any_wicket_283622
CREATE OR REPLACE TABLE MYCRICKET.DATA3.highest_partnerships_for_any_wicket_283622 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Partners VARCHAR(255), Runs NUMBER, Wkt NUMBER, Team VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'highest_partnerships_for_any_wicket_283622' created successfully.
highest_percentage_of_runs_in_a_completed_innings_283996
CREATE OR REPLACE TABLE MYCRICKET.DATA3.highest_percentage_of_runs_in_a_completed_innings_283996 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Runs NUMBER, Total NUMBER, Percentage NUMBER, Inns NUMBER, Team VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'highest_percentage_of_runs_in_a_completed_innings_283996' created successfully.
highest_run_rate_in_a_completed_innings_283138
CREATE OR REPLACE TABLE MYCRICKET.DATA3.highest_run_rate_in_a_completed_innings_283138 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Team VARCHAR(255), Score NUMBER, Overs NUMBER, RR NUMBER, Inns NUMBER, Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'highest_run_rate_in_a_completed_innings_283138' created successfully.
highest_run_rate_no_qualification_283128
CREATE OR REPLACE TABLE MYCRICKET.DATA3.highest_run_rate_no_qualification_283128 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Team VARCHAR(255), Score NUMBER, Overs NUMBER, RR NUMBER, Inns NUMBER, Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'highest_run_rate_no_qualification_283128' created successfully.
highest_score_at_each_fall_of_wicket_283500
CREATE OR REPLACE TABLE MYCRICKET.DATA3.highest_score_at_each_fall_of_wicket_283500 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Team VARCHAR(255), Fall NUMBER, Total NUMBER, Inns NUMBER, Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'highest_score_at_each_fall_of_wicket_283500' created successfully.
highest_strike_rate_in_an_innings_284190
CREATE OR REPLACE TABLE MYCRICKET.DATA3.highest_strike_rate_in_an_innings_284190 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Runs NUMBER, Balls NUMBER, S_4s NUMBER, S_6s NUMBER, SR NUMBER, Team VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'highest_strike_rate_in_an_innings_284190' created successfully.
hundreds_in_consecutive_innings_1342806
CREATE OR REPLACE TABLE MYCRICKET.DATA3.hundreds_in_consecutive_innings_1342806 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), S_100s NUMBER, Runs NUMBER, Inns NUMBER, Team VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'hundreds_in_consecutive_innings_1342806' created successfully.
index
CREATE OR REPLACE TABLE MYCRICKET.DATA3.index (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9))
Table 'index' created successfully.
largest_margin_of_victory_by_balls_remaining_283270
CREATE OR REPLACE TABLE MYCRICKET.DATA3.largest_margin_of_victory_by_balls_remaining_283270 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Winner VARCHAR(255), Margin NUMBER, Balls_Rem NUMBER, Target NUMBER, Overs NUMBER, Max NUMBER, Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'largest_margin_of_victory_by_balls_remaining_283270' created successfully.
largest_margin_of_victory_by_runs_283283
CREATE OR REPLACE TABLE MYCRICKET.DATA3.largest_margin_of_victory_by_runs_283283 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Winner VARCHAR(255), Margin NUMBER, Target NUMBER, Overs NUMBER, Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'largest_margin_of_victory_by_runs_283283' created successfully.
largest_margin_of_victory_by_wickets_283277
CREATE OR REPLACE TABLE MYCRICKET.DATA3.largest_margin_of_victory_by_wickets_283277 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Winner VARCHAR(255), Margin NUMBER, Target NUMBER, Overs NUMBER, Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'largest_margin_of_victory_by_wickets_283277' created successfully.
least_players_used_by_one_side_in_a_series_789337
CREATE OR REPLACE TABLE MYCRICKET.DATA3.least_players_used_by_one_side_in_a_series_789337 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Team VARCHAR(255), Mat NUMBER, Players NUMBER, Opposition VARCHAR(255))
Table 'least_players_used_by_one_side_in_a_series_789337' created successfully.
list_of_series_results_335433
CREATE OR REPLACE TABLE MYCRICKET.DATA3.list_of_series_results_335433 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), SeriesSlashTournament VARCHAR(255), Season NUMBER, Winner VARCHAR(255), Margin NUMBER)

Table 'list_of_series_results_335433' created successfully.
longest_careers_1219896
CREATE OR REPLACE TABLE MYCRICKET.DATA3.longest_careers_1219896 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), From NUMBER, To NUMBER, Span NUMBER, Mat NUMBER)
Error creating table 'longest_careers_1219896': 001003 (42000): SQL compilation error:
syntax error line 1 at position 135 unexpected 'From'.
syntax error line 1 at position 148 unexpected 'To'.
longest_individual_innings_by_balls_283131
CREATE OR REPLACE TABLE MYCRICKET.DATA3.longest_individual_innings_by_balls_283131 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Runs NUMBER, Mins VARCHAR(255), Balls NUMBER, S_4s NUMBER, S_6s NUMBER, SR NUMBER, Team VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'longest_individual_innings_by_balls_283131' created successfully.
longest_intervals_between_appearances_1222956
CREATE OR REPLACE TABLE MYCRICKET.DATA3.longest_intervals_between_appearances_1222956 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Span NUMBER, Mat NUMBER, From NUMBER, To NUMBER, Missed_Span NUMBER)
Error creating table 'longest_intervals_between_appearances_1222956': 001003 (42000): SQL compilation error:
syntax error line 1 at position 182 unexpected 'From'.
syntax error line 1 at position 195 unexpected 'To'.
lowest_innings_totals_283172
CREATE OR REPLACE TABLE MYCRICKET.DATA3.lowest_innings_totals_283172 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Team VARCHAR(255), Score NUMBER, Overs NUMBER, RR NUMBER, Inns NUMBER, Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'lowest_innings_totals_283172' created successfully.
lowest_match_aggregates_283146
CREATE OR REPLACE TABLE MYCRICKET.DATA3.lowest_match_aggregates_283146 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Team_1 VARCHAR(255), Team_2 VARCHAR(255), Runs NUMBER, Wkts NUMBER, Overs NUMBER, RR NUMBER, Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'lowest_match_aggregates_283146' created successfully.
lowest_run_rate_in_a_completed_innings_283115
CREATE OR REPLACE TABLE MYCRICKET.DATA3.lowest_run_rate_in_a_completed_innings_283115 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Team VARCHAR(255), Score NUMBER, Overs NUMBER, RR NUMBER, Inns NUMBER, Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'lowest_run_rate_in_a_completed_innings_283115' created successfully.
lowest_score_at_each_fall_of_wicket_283494
CREATE OR REPLACE TABLE MYCRICKET.DATA3.lowest_score_at_each_fall_of_wicket_283494 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Team VARCHAR(255), Fall NUMBER, Total NUMBER, Inns NUMBER, Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'lowest_score_at_each_fall_of_wicket_283494' created successfully.
most_balls_bowled_in_career_283773
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_balls_bowled_in_career_283773 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Span NUMBER, Mat NUMBER, Inns NUMBER, Balls NUMBER, Overs NUMBER, Mdns NUMBER, Runs NUMBER, Wkts NUMBER, BBI NUMBER, BBM NUMBER, Ave NUMBER, Econ NUMBER, SR NUMBER, S_4 NUMBER, S_5 NUMBER, S_10 VARCHAR(255))
Table 'most_balls_bowled_in_career_283773' created successfully.
most_batters_bowled_in_a_match_282855
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_batters_bowled_in_a_match_282855 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Team_1 VARCHAR(255), Team_2 VARCHAR(255), Num NUMBER, Wkts NUMBER, Winner VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'most_batters_bowled_in_a_match_282855' created successfully.
most_batters_bowled_in_an_innings_282862
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_batters_bowled_in_an_innings_282862 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Team VARCHAR(255), Score NUMBER, Num NUMBER, Inns NUMBER, Result VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'most_batters_bowled_in_an_innings_282862' created successfully.
most_batters_caught_in_a_match_282871
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_batters_caught_in_a_match_282871 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Team_1 VARCHAR(255), Team_2 VARCHAR(255), Num NUMBER, Wkts NUMBER, Winner VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'most_batters_caught_in_a_match_282871' created successfully.
most_batters_caught_in_an_innings_282878
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_batters_caught_in_an_innings_282878 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Team VARCHAR(255), Score NUMBER, Num NUMBER, Inns NUMBER, Result VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'most_batters_caught_in_an_innings_282878' created successfully.
most_batters_lbw_in_a_match_282839
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_batters_lbw_in_a_match_282839 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Team_1 VARCHAR(255), Team_2 VARCHAR(255), Num NUMBER, Wkts NUMBER, Winner VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'most_batters_lbw_in_a_match_282839' created successfully.
most_batters_lbw_in_an_innings_282846
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_batters_lbw_in_an_innings_282846 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Team VARCHAR(255), Score NUMBER, Num NUMBER, Inns NUMBER, Result VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'most_batters_lbw_in_an_innings_282846' created successfully.
most_batters_not_reaching_double_figures_in_an_innings_283047
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_batters_not_reaching_double_figures_in_an_innings_283047 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Team VARCHAR(255), Score NUMBER, Num NUMBER, Inns NUMBER, Result VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'most_batters_not_reaching_double_figures_in_an_innings_283047' created successfully.
most_batters_reaching_double_figures_in_an_innings_283054
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_batters_reaching_double_figures_in_an_innings_283054 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Team VARCHAR(255), Score NUMBER, Num NUMBER, Inns NUMBER, Result VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'most_batters_reaching_double_figures_in_an_innings_283054' created successfully.
most_batters_run_out_in_a_match_282823
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_batters_run_out_in_a_match_282823 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Team_1 VARCHAR(255), Team_2 VARCHAR(255), Num NUMBER, Wkts NUMBER, Winner VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'most_batters_run_out_in_a_match_282823' created successfully.
most_batters_run_out_in_an_innings_282833
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_batters_run_out_in_an_innings_282833 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Team VARCHAR(255), Score NUMBER, Num NUMBER, Inns NUMBER, Result VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'most_batters_run_out_in_an_innings_282833' created successfully.
most_batters_stumped_in_a_match_282811
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_batters_stumped_in_a_match_282811 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Team_1 VARCHAR(255), Team_2 VARCHAR(255), Num NUMBER, Wkts NUMBER, Winner VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'most_batters_stumped_in_a_match_282811' created successfully.
most_batters_stumped_in_an_innings_282817
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_batters_stumped_in_an_innings_282817 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Team VARCHAR(255), Score NUMBER, Num NUMBER, Inns NUMBER, Result VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'most_batters_stumped_in_an_innings_282817' created successfully.

most_bowlers_in_a_match_282921
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_bowlers_in_a_match_282921 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Team_1 VARCHAR(255), Team_2 VARCHAR(255), Num NUMBER, Winner VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'most_bowlers_in_a_match_282921' created successfully.
most_bowlers_in_an_innings_282928
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_bowlers_in_an_innings_282928 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Team VARCHAR(255), Num NUMBER, Inns NUMBER, _1 VARCHAR(255), Result VARCHAR(255), Opposition NUMBER, Score NUMBER, Overs VARCHAR(255), Ground NUMBER, Match_Date VARCHAR(255), Scorecard NUMBER)
Table 'most_bowlers_in_an_innings_282928' created successfully.
most_bowlers_taking_a_wicket_in_an_innings_282913
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_bowlers_taking_a_wicket_in_an_innings_282913 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Team VARCHAR(255), Num NUMBER, Tot NUMBER, Inns NUMBER, _1 VARCHAR(255), Result VARCHAR(255), Opposition NUMBER, Score NUMBER, Overs VARCHAR(255), Ground NUMBER, Match_Date VARCHAR(255), Scorecard NUMBER)
Table 'most_bowlers_taking_a_wicket_in_an_innings_282913' created successfully.
most_bowlers_taking_a_wicket_in_an_match_282902
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_bowlers_taking_a_wicket_in_an_match_282902 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Team_1 VARCHAR(255), Team_2 VARCHAR(255), Num NUMBER, Tot NUMBER, Winner VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'most_bowlers_taking_a_wicket_in_an_match_282902' created successfully.
most_byes_conceded_in_an_innings_283313
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_byes_conceded_in_an_innings_283313 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Byes NUMBER, Total NUMBER, Inns NUMBER, Team VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'most_byes_conceded_in_an_innings_283313' created successfully.
most_byes_in_a_match_319175
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_byes_in_a_match_319175 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Team_1 VARCHAR(255), Team_2 VARCHAR(255), Runs NUMBER, Wkts NUMBER, Overs NUMBER, Extras NUMBER, b NUMBER, lb NUMBER, w NUMBER, nb NUMBER, RR NUMBER, Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'most_byes_in_a_match_319175' created successfully.
most_byes_in_an_innings_282960
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_byes_in_an_innings_282960 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Team VARCHAR(255), Score NUMBER, Overs NUMBER, Ext NUMBER, b NUMBER, lb NUMBER, w NUMBER, nb VARCHAR(255), RR NUMBER, Inns NUMBER, Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'most_byes_in_an_innings_282960' created successfully.
most_catches_by_a_substitute_in_an_innings_283625
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_catches_by_a_substitute_in_an_innings_283625 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Ct NUMBER, Inns NUMBER, Team VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'most_catches_by_a_substitute_in_an_innings_283625' created successfully.
most_catches_in_an_innings_283353
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_catches_in_an_innings_283353 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Dis NUMBER, Ct NUMBER, St VARCHAR(255), Inns NUMBER, Team VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'most_catches_in_an_innings_283353' created successfully.
most_catches_in_an_innings_283641
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_catches_in_an_innings_283641 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Ct_Fi NUMBER, Inns NUMBER, Team VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'most_catches_in_an_innings_283641' created successfully.
most_catches_in_career_283364
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_catches_in_career_283364 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Span NUMBER, Mat NUMBER, Inns NUMBER, Dis NUMBER, Ct NUMBER, St NUMBER, Max_Dis_Inns NUMBER, DisSlashInn NUMBER)
Table 'most_catches_in_career_283364' created successfully.
most_catches_in_career_283650
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_catches_in_career_283650 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Span NUMBER, Mat NUMBER, Inns NUMBER, Ct NUMBER, Max NUMBER, CtSlashInn NUMBER)
Table 'most_catches_in_career_283650' created successfully.
most_consecutive_defeats_283091
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_consecutive_defeats_283091 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Team VARCHAR(255), Mat NUMBER, Margin NUMBER, Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'most_consecutive_defeats_283091' created successfully.
most_consecutive_ducks_284043
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_consecutive_ducks_284043 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Ducks NUMBER, Runs NUMBER, Inns NUMBER, Team VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'most_consecutive_ducks_284043' created successfully.
most_consecutive_four_wickets_in_an_innings_283804
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_consecutive_four_wickets_in_an_innings_283804 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), S_4wi NUMBER, Bowl NUMBER, Inns NUMBER, Team VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'most_consecutive_four_wickets_in_an_innings_283804' created successfully.
most_consecutive_innings_without_a_duck_284072
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_consecutive_innings_without_a_duck_284072 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Inns NUMBER, From NUMBER, Until NUMBER)
Error creating table 'most_consecutive_innings_without_a_duck_284072': 001003 (42000): SQL compilation error:
syntax error line 1 at position 171 unexpected 'From'.
most_consecutive_matches_as_captain_of_a_team_1223146
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_consecutive_matches_as_captain_of_a_team_1223146 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Team VARCHAR(255), Mat NUMBER, From NUMBER, Until NUMBER)
Error creating table 'most_consecutive_matches_as_captain_of_a_team_1223146': 001003 (42000): SQL compilation error:
syntax error line 1 at position 196 unexpected 'From'.
most_consecutive_matches_for_a_team_283482
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_consecutive_matches_for_a_team_283482 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Team VARCHAR(255), Mat NUMBER, From NUMBER, Until NUMBER)
Error creating table 'most_consecutive_matches_for_a_team_283482': 001003 (42000): SQL compilation error:
syntax error line 1 at position 185 unexpected 'From'.
most_consecutive_matches_missed_for_a_team_between_appearances_323042
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_consecutive_matches_missed_for_a_team_between_appearances_323042 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Span NUMBER, Mat NUMBER, Team VARCHAR(255), From NUMBER, To NUMBER, Missed_Span NUMBER, Missed NUMBER)
Error creating table 'most_consecutive_matches_missed_for_a_team_between_appearances_323042': 001003 (42000): SQL compilation error:
syntax error line 1 at position 225 unexpected 'From'.
syntax error line 1 at position 238 unexpected 'To'.
most_consecutive_matches_without_defeat_283106
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_consecutive_matches_without_defeat_283106 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Team VARCHAR(255), Mat NUMBER, Result VARCHAR(255), Margin NUMBER, Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'most_consecutive_matches_without_defeat_283106' created successfully.

most_consecutive_matches_without_victory_283096
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_consecutive_matches_without_victory_283096 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Team VARCHAR(255), Mat NUMBER, Result VARCHAR(255), Margin NUMBER, Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'most_consecutive_matches_without_victory_283096' created successfully.
most_consecutive_wins_283111
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_consecutive_wins_283111 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Team VARCHAR(255), Mat NUMBER, Margin NUMBER, Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'most_consecutive_wins_283111' created successfully.
most_dismissals_in_an_innings_283377
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_dismissals_in_an_innings_283377 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Dis NUMBER, Ct NUMBER, St NUMBER, Inns NUMBER, Team VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'most_dismissals_in_an_innings_283377' created successfully.
most_dismissals_in_career_283793
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_dismissals_in_career_283793 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Span NUMBER, Mat NUMBER, Inns NUMBER, Dis NUMBER, Ct NUMBER, St NUMBER, Max_Dis_Inns NUMBER, DisSlashInn NUMBER)
Table 'most_dismissals_in_career_283793' created successfully.
most_ducks_in_a_match_283030
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_ducks_in_a_match_283030 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Team_1 VARCHAR(255), Team_2 VARCHAR(255), Ducks NUMBER, Winner VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'most_ducks_in_a_match_283030' created successfully.
most_ducks_in_an_innings_283038
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_ducks_in_an_innings_283038 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Team VARCHAR(255), Score NUMBER, Ducks NUMBER, Inns NUMBER, Result VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'most_ducks_in_an_innings_283038' created successfully.
most_ducks_in_career_284058
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_ducks_in_career_284058 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Span NUMBER, Mat NUMBER, Inns NUMBER, NO NUMBER, Runs NUMBER, HS NUMBER, Ave NUMBER, BF NUMBER, SR NUMBER, S_100 NUMBER, S_50 NUMBER, S_0 NUMBER, S_4s NUMBER, S_6s NUMBER)
Table 'most_ducks_in_career_284058' created successfully.
most_extras_in_a_match_282966
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_extras_in_a_match_282966 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Team_1 VARCHAR(255), Team_2 VARCHAR(255), Overs NUMBER, Runs NUMBER, Wkts NUMBER, Extras NUMBER, b NUMBER, lb NUMBER, w NUMBER, nb NUMBER, RR NUMBER, Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'most_extras_in_a_match_282966' created successfully.
most_extras_in_an_innings_282980
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_extras_in_an_innings_282980 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Team VARCHAR(255), Score NUMBER, Overs NUMBER, Ext NUMBER, b NUMBER, lb NUMBER, w NUMBER, nb NUMBER, RR NUMBER, Inns NUMBER, Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'most_extras_in_an_innings_282980' created successfully.
most_fifties_in_career_283018
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_fifties_in_career_283018 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Span NUMBER, Mat NUMBER, Inns NUMBER, NO NUMBER, Runs NUMBER, HS NUMBER, Ave NUMBER, BF NUMBER, SR NUMBER, S_100 NUMBER, S_50 NUMBER, S_50Plus NUMBER, S_0 NUMBER, S_4s NUMBER, S_6s NUMBER)
Table 'most_fifties_in_career_283018' created successfully.
most_four_wickets_in_an_innings_in_a_career_283816
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_four_wickets_in_an_innings_in_a_career_283816 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Span NUMBER, Mat NUMBER, Inns NUMBER, Balls NUMBER, Overs NUMBER, Mdns NUMBER, Runs NUMBER, Wkts NUMBER, BBI NUMBER, BBM NUMBER, Ave NUMBER, Econ NUMBER, SR NUMBER, S_4 NUMBER, S_5 NUMBER, S_10 VARCHAR(255), S_4Plus NUMBER)
Table 'most_four_wickets_in_an_innings_in_a_career_283816' created successfully.
most_fours_in_a_match_283008
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_fours_in_a_match_283008 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Team_1 VARCHAR(255), Team_2 VARCHAR(255), S_4s NUMBER, S_6s NUMBER, Winner VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'most_fours_in_a_match_283008' created successfully.
most_fours_in_an_innings_283015
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_fours_in_an_innings_283015 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Team VARCHAR(255), Score NUMBER, S_4s NUMBER, S_6s NUMBER, Inns NUMBER, Result VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'most_fours_in_an_innings_283015' created successfully.
most_fours_in_an_innings_284016
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_fours_in_an_innings_284016 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Runs NUMBER, Mins VARCHAR(255), Balls NUMBER, S_4s NUMBER, S_6s NUMBER, SR NUMBER, Team VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'most_fours_in_an_innings_284016' created successfully.
most_fours_in_career_284021
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_fours_in_career_284021 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), S_4s_1 NUMBER, Span NUMBER, Mat NUMBER, Inns NUMBER, NO NUMBER, Runs NUMBER, HS NUMBER, Ave NUMBER, BF NUMBER, SR NUMBER, S_100 NUMBER, S_50 NUMBER, S_0 NUMBER, S_4s NUMBER, S_6s NUMBER)
Table 'most_fours_in_career_284021' created successfully.
most_hundred_partnerships_by_a_pair_283503
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_hundred_partnerships_by_a_pair_283503 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Partners VARCHAR(255), Span NUMBER, Inns NUMBER, NO NUMBER, Runs_1 NUMBER, Runs NUMBER, Ave NUMBER, S_100 NUMBER, S_50 NUMBER)
Table 'most_hundred_partnerships_by_a_pair_283503' created successfully.
most_innings_before_first_duck_284080
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_innings_before_first_duck_284080 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Inns NUMBER, Debut NUMBER, Until: VARCHAR(255), Team VARCHAR(255), Opposition VARCHAR(255), Ground NUMBER, Match_Date VARCHAR(255), Scorecard NUMBER)
Error creating table 'most_innings_before_first_duck_284080': 001003 (42000): SQL compilation error:
syntax error line 1 at position 181 unexpected ':'.
syntax error line 1 at position 195 unexpected ','.
most_leg_byes_in_a_match_319182
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_leg_byes_in_a_match_319182 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Team_1 VARCHAR(255), Team_2 VARCHAR(255), Runs NUMBER, Wkts NUMBER, Overs NUMBER, Extras NUMBER, b NUMBER, lb NUMBER, w NUMBER, nb NUMBER, RR NUMBER, Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'most_leg_byes_in_a_match_319182' created successfully.
most_leg_byes_in_an_innings_282952
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_leg_byes_in_an_innings_282952 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Team VARCHAR(255), Score NUMBER, Overs NUMBER, Ext NUMBER, b VARCHAR(255), lb NUMBER, w NUMBER, nb VARCHAR(255), RR NUMBER, Inns NUMBER, Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'most_leg_byes_in_an_innings_282952' created successfully.
most_maidens_in_an_innings_311985
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_maidens_in_an_innings_311985 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Overs NUMBER, Mdns NUMBER, Runs VARCHAR(255), Wkts NUMBER, Econ NUMBER, Team VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))

Table 'most_maidens_in_an_innings_311985' created successfully.
most_maidens_in_career_311984
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_maidens_in_career_311984 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Span NUMBER, Mat NUMBER, Inns NUMBER, Balls NUMBER, Overs NUMBER, Mdns NUMBER, Runs NUMBER, Wkts NUMBER, BBI NUMBER, BBM NUMBER, Ave NUMBER, Econ NUMBER, SR NUMBER, S_4 VARCHAR(255), S_5 VARCHAR(255), S_10 VARCHAR(255))
Table 'most_maidens_in_career_311984' created successfully.
most_matches_as_a_match_referee_283386
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_matches_as_a_match_referee_283386 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Span NUMBER, Matches NUMBER)
Table 'most_matches_as_a_match_referee_283386' created successfully.
most_matches_as_an_umpire_283392
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_matches_as_an_umpire_283392 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Umpire VARCHAR(255), Span NUMBER, Matches NUMBER)
Table 'most_matches_as_an_umpire_283392' created successfully.
most_matches_as_captain_283428
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_matches_as_captain_283428 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Span NUMBER, Mat NUMBER, Won NUMBER, Lost NUMBER, Tied NUMBER, Draw NUMBER, NR NUMBER, WSlashL NUMBER, PercentageW NUMBER, PercentageL NUMBER, Percentage_Tied NUMBER, Percentage_Draw NUMBER, PercentageNR NUMBER, Percentage NUMBER)
Table 'most_matches_as_captain_283428' created successfully.
most_matches_in_a_series_without_a_win_789339
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_matches_in_a_series_without_a_win_789339 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Team VARCHAR(255), Mat NUMBER, Won NUMBER, Lost NUMBER, Tied NUMBER, NR NUMBER, Opposition VARCHAR(255))
Table 'most_matches_in_a_series_without_a_win_789339' created successfully.
most_matches_in_career_283684
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_matches_in_career_283684 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Span NUMBER, Mat NUMBER, Runs NUMBER, HS NUMBER, Ave_1 NUMBER, S_100 NUMBER, Wkts NUMBER, BBI NUMBER, BBM NUMBER, Ave NUMBER, S_5 VARCHAR(255), Ct NUMBER, St VARCHAR(255))
Table 'most_matches_in_career_283684' created successfully.
most_matches_on_a_single_ground_304110
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_matches_on_a_single_ground_304110 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Ground VARCHAR(255), Span NUMBER, Mat NUMBER)
Table 'most_matches_on_a_single_ground_304110' created successfully.
most_no_balls_in_a_match_319196
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_no_balls_in_a_match_319196 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Team_1 VARCHAR(255), Team_2 VARCHAR(255), Runs NUMBER, Wkts NUMBER, Overs NUMBER, Extras NUMBER, b NUMBER, lb NUMBER, w NUMBER, nb NUMBER, RR NUMBER, Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'most_no_balls_in_a_match_319196' created successfully.
most_no_balls_in_an_innings_282936
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_no_balls_in_an_innings_282936 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Team VARCHAR(255), Score NUMBER, Overs NUMBER, Ext NUMBER, b NUMBER, lb NUMBER, w NUMBER, nb NUMBER, Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'most_no_balls_in_an_innings_282936' created successfully.
most_player_of_the_match_awards_283472
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_player_of_the_match_awards_283472 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Span NUMBER, Mat NUMBER, Awards NUMBER)
Table 'most_player_of_the_match_awards_283472' created successfully.
most_player_of_the_series_awards_1219894
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_player_of_the_series_awards_1219894 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Span NUMBER, Mat NUMBER, Series NUMBER, Awards NUMBER)
Table 'most_player_of_the_series_awards_1219894' created successfully.
most_players_used_by_one_side_in_a_series_789341
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_players_used_by_one_side_in_a_series_789341 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Team VARCHAR(255), Mat NUMBER, Players NUMBER, Opposition VARCHAR(255))
Table 'most_players_used_by_one_side_in_a_series_789341' created successfully.
most_runs_conceded_in_an_innings_283749
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_runs_conceded_in_an_innings_283749 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Overs NUMBER, Mdns VARCHAR(255), Runs NUMBER, Wkts VARCHAR(255), Econ NUMBER, Team VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'most_runs_conceded_in_an_innings_283749' created successfully.
most_runs_conceded_in_career_283760
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_runs_conceded_in_career_283760 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Span NUMBER, Mat NUMBER, Inns NUMBER, Balls NUMBER, Overs NUMBER, Mdns NUMBER, Runs NUMBER, Wkts NUMBER, BBI NUMBER, BBM NUMBER, Ave NUMBER, Econ NUMBER, SR NUMBER, S_4 NUMBER, S_5 NUMBER, S_10 VARCHAR(255))
Table 'most_runs_conceded_in_career_283760' created successfully.
most_runs_from_fours_and_sixes_in_a_match_282999
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_runs_from_fours_and_sixes_in_a_match_282999 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Team_1 VARCHAR(255), Team_2 VARCHAR(255), S_4s NUMBER, S_6s NUMBER, Runs NUMBER, Winner VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'most_runs_from_fours_and_sixes_in_a_match_282999' created successfully.
most_runs_from_fours_and_sixes_in_an_innings_283004
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_runs_from_fours_and_sixes_in_an_innings_283004 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Team VARCHAR(255), Score NUMBER, S_4s NUMBER, S_6s NUMBER, Runs NUMBER, Inns NUMBER, Result VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'most_runs_from_fours_and_sixes_in_an_innings_283004' created successfully.
most_runs_from_fours_and_sixes_in_an_innings_284015
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_runs_from_fours_and_sixes_in_an_innings_284015 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Runs NUMBER, Mins VARCHAR(255), Balls NUMBER, S_4s NUMBER, S_6s NUMBER, S_4Plus6 NUMBER, SR NUMBER, Team VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'most_runs_from_fours_and_sixes_in_an_innings_284015' created successfully.
most_runs_in_a_calendar_year_284247
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_runs_in_a_calendar_year_284247 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Year NUMBER, Mat NUMBER, Inns NUMBER, NO NUMBER, Runs NUMBER, HS NUMBER, Ave NUMBER, BF NUMBER, SR NUMBER, S_100 NUMBER, S_50 NUMBER, S_0 NUMBER, S_4s NUMBER, S_6s NUMBER)
Table 'most_runs_in_a_calendar_year_284247' created successfully.
most_runs_in_a_match_on_the_losing_side_284236
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_runs_in_a_match_on_the_losing_side_284236 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), S_1st NUMBER, S_2nd VARCHAR(255), Runs NUMBER, Inns NUMBER, Team VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'most_runs_in_a_match_on_the_losing_side_284236' created successfully.
most_runs_in_an_innings_284262
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_runs_in_an_innings_284262 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Runs NUMBER, Mins VARCHAR(255), Balls NUMBER, S_4s NUMBER, S_6s NUMBER, SR NUMBER, Team VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'most_runs_in_an_innings_284262' created successfully.
most_runs_in_an_innings_by_a_captain_284218
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_runs_in_an_innings_by_a_captain_284218 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Runs NUMBER, Mins VARCHAR(255), Balls NUMBER, S_4s NUMBER, S_6s NUMBER, SR NUMBER, Team VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'most_runs_in_an_innings_by_a_captain_284218' created successfully.

most_runs_in_an_innings_by_a_wicketkeeper_284209
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_runs_in_an_innings_by_a_wicketkeeper_284209 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Runs NUMBER, Mins NUMBER, Balls NUMBER, S_4s NUMBER, S_6s NUMBER, SR NUMBER, Team VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'most_runs_in_an_innings_by_a_wicketkeeper_284209' created successfully.
most_runs_in_an_innings_by_batting_position_284241
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_runs_in_an_innings_by_batting_position_284241 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Runs NUMBER, Mins VARCHAR(255), Balls NUMBER, S_4s NUMBER, S_6s NUMBER, SR NUMBER, Team VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'most_runs_in_an_innings_by_batting_position_284241' created successfully.
most_runs_in_an_innings_progressive_record_holder_284256
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_runs_in_an_innings_progressive_record_holder_284256 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Runs NUMBER, Mins NUMBER, Balls NUMBER, S_4s NUMBER, S_6s NUMBER, Team VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'most_runs_in_an_innings_progressive_record_holder_284256' created successfully.
most_runs_in_an_innings_when_only_five_bowlers_used_282885
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_runs_in_an_innings_when_only_five_bowlers_used_282885 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Team VARCHAR(255), Score NUMBER, Inns NUMBER, Result VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'most_runs_in_an_innings_when_only_five_bowlers_used_282885' created successfully.
most_runs_in_career_282827
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_runs_in_career_282827 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Span NUMBER, Mat NUMBER, Inns NUMBER, NO NUMBER, Runs NUMBER, HS NUMBER, Ave NUMBER, BF NUMBER, SR NUMBER, S_100 NUMBER, S_50 NUMBER, S_0 NUMBER, S_4s NUMBER, S_6s NUMBER)
Table 'most_runs_in_career_282827' created successfully.
most_runs_in_debut_match_284183
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_runs_in_debut_match_284183 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), S_1st NUMBER, S_2nd VARCHAR(255), Runs NUMBER, Inns NUMBER, Team VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'most_runs_in_debut_match_284183' created successfully.
most_runs_off_one_over_284226
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_runs_off_one_over_284226 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Runs NUMBER, Batsmen VARCHAR(255), Bowler VARCHAR(255), Match VARCHAR(255), Venue VARCHAR(255), Date NUMBER)
Table 'most_runs_off_one_over_284226' created successfully.
most_runs_on_a_single_ground_284231
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_runs_on_a_single_ground_284231 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Span NUMBER, Mat NUMBER, Inns NUMBER, NO NUMBER, Runs NUMBER, HS NUMBER, Ave NUMBER, BF NUMBER, SR NUMBER, S_50 NUMBER, S_50Plus NUMBER, S_100 VARCHAR(255), S_0 NUMBER, S_4s NUMBER, S_6s NUMBER)
Table 'most_runs_on_a_single_ground_284231' created successfully.
most_sixes_in_a_match_283012
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_sixes_in_a_match_283012 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Team_1 VARCHAR(255), Team_2 VARCHAR(255), S_4s NUMBER, S_6s NUMBER, Winner VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'most_sixes_in_a_match_283012' created successfully.
most_sixes_in_an_innings_283019
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_sixes_in_an_innings_283019 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Team VARCHAR(255), Score NUMBER, S_4s NUMBER, S_6s NUMBER, Inns NUMBER, Result VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'most_sixes_in_an_innings_283019' created successfully.
most_sixes_in_an_innings_284019
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_sixes_in_an_innings_284019 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Runs NUMBER, Mins VARCHAR(255), Balls NUMBER, S_4s NUMBER, S_6s NUMBER, SR NUMBER, Team VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'most_sixes_in_an_innings_284019' created successfully.
most_sixes_in_career_283104
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_sixes_in_career_283104 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Span NUMBER, Mat NUMBER, Inns NUMBER, NO NUMBER, Runs NUMBER, HS NUMBER, Ave NUMBER, BF NUMBER, SR NUMBER, S_100 NUMBER, S_50 NUMBER, S_0 NUMBER, S_4s NUMBER, S_6s NUMBER)
Table 'most_sixes_in_career_283104' created successfully.
most_stumpings_in_an_innings_283327
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_stumpings_in_an_innings_283327 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Dis NUMBER, Ct VARCHAR(255), St NUMBER, Inns NUMBER, Team VARCHAR(255), Opposition VARCHAR(255), Ground VARCHAR(255), Match_Date NUMBER, Scorecard VARCHAR(255))
Table 'most_stumpings_in_an_innings_283327' created successfully.
most_stumpings_in_career_283338
CREATE OR REPLACE TABLE MYCRICKET.DATA3.most_stumpings_in_career_283338 (uuid VARCHAR(255), LAST_UPDATE TIMESTAMP_NTZ(9), Player VARCHAR(255), Span NUMBER, Mat NUMBER, Inns NUMBER, Dis NUMBER, Ct NUMBER, St NUMBER, Max_Dis_Inns NUMBER, DisSlashInn NUMBER)
Table 'most_stumpings_in_career_283338' created successfully.
most_wickets_in_a_calendar_year_283961

FileNotFoundError: [Errno 2] No such file or directory: 'most_wickets_in_a_calendar_year_283961.csv'